-- Mevcut alanları ve öğretmenleri kontrol et
SELECT 'ALANLAR' as tablo, id, ad, null as soyad FROM alanlar
UNION ALL  
SELECT 'OGRETMENLER' as tablo, id, ad, soyad FROM ogretmenler WHERE aktif = true
ORDER BY tablo, ad;
