-- Koordinatör tablosu oluşturma SQL'i
CREATE TABLE ogrenci_koordinatorleri (
    id SERIAL PRIMARY KEY,
    ogrenci_id VARCHAR(255) NOT NULL,
    ogretmen_id VARCHAR(255) NOT NULL,
    baslangic_tarihi DATE NOT NULL,
    durum VARCHAR(20) DEFAULT 'aktif',
    notlar TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (ogrenci_id) REFERENCES ogrenciler(id),
    FOREIGN KEY (ogretmen_id) REFERENCES ogretmenler(id)
);
